.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ex5 .parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.ex5 header {
  padding: 2rem;
  grid-column: 1 / 4;
}
.ex5 .left-side {
  grid-column: 1 / 2;
}
.ex5 main {
  grid-column: 2 / 3;
}
.ex5 .right-side {
  grid-column: 3 / 4;
}
.ex5 footer {
  grid-column: 1 / 4;
}


